Repository StreamLineLabs/streamline-deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, docker-compose-check

.pre-commit-config.yaml:

# Pre-commit hooks for Streamline Deploy
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: check-yaml
        args: ['--allow-multiple-documents']
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  - repo: local
    hooks:
      - id: helm-lint
        name: helm lint
        entry: helm lint helm/streamline
        language: system
        files: '(helm/|Chart\.yaml|values\.yaml)'
        pass_filenames: false

      - id: docker-compose-check
        name: docker compose config
        entry: docker compose config --quiet
        language: system
        files: '(docker-compose|Dockerfile)'
        pass_filenames: false

chore: bump base image version
  k8s/kustomization.yaml
Due: none

test: add Helm chart validation tests
  docker-compose.cdc-demo.yml
Due: docker-compose-check

chore: update resource limits
  playground/tutorials/02-consumer-groups.md
Due: none

fix: correct health check endpoint path
  docker-compose.jepsen.yml
Due: docker-compose-check

feat: add network policy templates
  CONTRIBUTING.md
Due: none

fix: resolve volume mount permissions
  README.md
Due: none

feat: add init container for config validation
  playground/README.md
Due: none

chore: update dependencies
  .github/workflows/ci.yml
  Makefile
  helm/streamline/templates/_helpers.tpl
  helm/streamline/templates/statefulset.yaml
Due: helm-lint

fix: fix memory leak in consumer loop
  CODEOWNERS
  helm/streamline/templates/grafana-dashboards.yaml
  helm/streamline/templates/ingress.yaml
  helm/streamline/values.yaml
Due: helm-lint

feat: implement retry logic
  helm/streamline/templates/prometheusrule.yaml
  helm/streamline/templates/secret.yaml
  helm/streamline/templates/serviceaccount.yaml
  helm/streamline/tests/new_templates_test.yaml
Due: helm-lint

ci: configure automated testing
  monitoring/grafana/provisioning/alerting/notifications.yml
  monitoring/grafana/provisioning/alerting/rules.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
Due: none

build: optimize build configuration
  monitoring/prometheus/prometheus.yml
Due: none

feat: add conformance test specification
  conformance/conformance-spec.toml
Due: none

fix: correct volume mount paths in docker-compose
  CHANGELOG.md
Due: none

docs: add deployment troubleshooting guide
  CHANGELOG.md
Due: none

chore: update base image to alpine 3.19
  CHANGELOG.md
Due: none

ci: update workflow and add PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
Due: none

build: update Dockerfiles and playground config
  Dockerfile
  docker/Dockerfile.seed
  playground/Dockerfile
Due: docker-compose-check

feat: update Helm chart templates and values
  helm/streamline/Chart.yaml
  helm/streamline/templates/configmap.yaml
  helm/streamline/templates/statefulset.yaml
  helm/streamline/values.yaml
Due: helm-lint

docs: update changelog, README, and add governance files
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  NOTICE
  README.md
Due: none

refactor: consolidate docker-compose variants
  k8s/service.yaml
Due: none

feat: add configurable resource limits
  k8s/keda/scaledobject.yaml
Due: none

docs: add troubleshooting guide
  docs/TROUBLESHOOTING.md
Due: none

chore: clean up unused imports
  .gitignore
Due: none

perf: reduce memory allocation in hot path
  docker/Dockerfile.optimized
Due: docker-compose-check

docs: add API documentation
  docs/PORTS.md
Due: none

fix: prevent resource leak on shutdown
  helm/streamline/templates/NOTES.txt
Due: helm-lint

feat: add TLS configuration support
  helm/streamline/values-tls.yaml
Due: helm-lint

fix: resolve service discovery race condition
  .github/dependabot.yml
  docker-compose.jepsen.yml
Due: docker-compose-check

feat: add health check endpoint configuration
  helm/streamline/templates/statefulset.yaml
  helm/streamline/values.yaml
Due: helm-lint

refactor: simplify deployment manifest structure
  jepsen/run_jepsen.py
Due: none

feat: add health check probe configuration
  jepsen/run_jepsen.py
Due: none

chore: update Helm chart default resource limits
  helm/streamline/values.yaml
Due: helm-lint

chore: update base Docker image versions
  CHANGELOG.md
Due: none

chore: add liveness probe configuration to Helm templates
  CHANGELOG.md
Due: none

feat: add multi-region Helm chart topology support
  CHANGELOG.md
Due: none

chore: tag Helm chart release candidate 0.3.0-rc1
  CHANGELOG.md
Due: none

feat(compose): add moonshot-demo docker-compose and edge build profile
  docker-compose.moonshot-demo.yml
  edge-build-profile.toml
Due: docker-compose-check

feat(grafana): add Grafana dashboards for Moonshot memory and search metrics
  grafana/dashboards/agent-memory.json
  grafana/dashboards/branches.json
  grafana/dashboards/contracts.json
  grafana/dashboards/edge-sync.json
  grafana/dashboards/semantic-topics.json
Due: none

ci: update docker-publish workflow; bump Helm chart values for Moonshot enablement
  .github/workflows/docker-publish.yml
  README.md
  helm/streamline/values.yaml
Due: helm-lint
