Repository StreamLineLabs/streamline-deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, docker-compose-check

helm-lint:
  name: helm lint
  entry: helm lint helm/streamline
  language: system
  pass_filenames: false

docker-compose-check:
  name: docker compose config
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

chore: bump version to 0.3.0 and update CHANGELOG
  CHANGELOG.md
  helm/streamline/Chart.yaml
Due: helm-lint

feat(grafana): update agent memory dashboard panels
  grafana/dashboards/agent-memory.json
Due: none

chore: bump image tags to v0.3.0
  docker-compose.cdc-demo.yml
  docker-compose.conformance.yml
  docker-compose.edge.yml
  docker-compose.jepsen.yml
  docker/docker-compose.benchmarks.yml
  helm/streamline/values.yaml
  k8s/statefulset.yaml
  playground/docker-compose.playground.yml
  playground/k8s/playground-controller.yaml
Due: helm-lint, docker-compose-check

fix(deploy): restore complete validation baseline
  .github/workflows/ci.yml
  Makefile
  demos/edge-pilot.sh
  docker/seed-data.sh
  helm/streamline/tests/new_templates_test.yaml
  scripts/install.sh
Due: helm-lint

docs(deploy): record clean-code audit
  AUDIT.md
Due: none

test(deploy): characterize SRP seams
  Makefile
  helm/streamline/tests/grafana_dashboards_test.yaml
  tests/seed-data_test.sh
Due: helm-lint

refactor(deploy): move seeding responsibilities (DEP-SRP-1)
  Makefile
  docker/seed-data.sh
  docker/seed-fixtures.sh
  docker/seed-runtime.sh
Due: none

refactor(deploy): clarify seeding workflow (DEP-SRP-1)
  docker/seed-data.sh
  docker/seed-fixtures.sh
  docker/seed-runtime.sh
Due: none

refactor(deploy): split Grafana dashboards (DEP-SRP-2)
  helm/streamline/templates/grafana-consumer-lag.yaml
  helm/streamline/templates/grafana-dashboards.yaml
  helm/streamline/templates/grafana-overview.yaml
  helm/streamline/templates/grafana-topics.yaml
  helm/streamline/tests/grafana_dashboards_test.yaml
Due: helm-lint

refactor(deploy): centralize Grafana metadata (DEP-SRP-2)
  helm/streamline/templates/_helpers.tpl
  helm/streamline/templates/grafana-consumer-lag.yaml
  helm/streamline/templates/grafana-overview.yaml
  helm/streamline/templates/grafana-topics.yaml
Due: helm-lint

fix(deploy): package seeder libraries
  docker/Dockerfile.seed
  tests/seed-data_test.sh
Due: docker-compose-check

fix(ci): allow Helm plugin installation
  .github/workflows/ci.yml
Due: none

fix(publish): verify pinned core builds and installer artifacts
  .dockerignore
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/release.yml
  .gitignore
  CHANGELOG.md
  Dockerfile
  core-source.env
  docker-compose.test.yml
  scripts/install.sh
  scripts/prepare-core-context.sh
  tests/core-pin-gate_test.sh
  tests/install_test.sh
  tests/installer-availability_test.sh
  tests/oci-image-reference-lib.sh
  tests/oci-image-reference_test.sh
  tests/prepare-core-context_test.sh
  tests/publish-pipeline_test.sh
  tests/workflow-publisher_test.sh
Due: docker-compose-check

fix(helm): enforce secure standalone runtime contracts
  CHANGELOG.md
  helm/README.md
  helm/streamline/templates/NOTES.txt
  helm/streamline/templates/_helpers.tpl
  helm/streamline/templates/configmap.yaml
  helm/streamline/templates/hpa.yaml
  helm/streamline/templates/keda-scaledobject.yaml
  helm/streamline/templates/prometheusrule.yaml
  helm/streamline/templates/secret.yaml
  helm/streamline/templates/statefulset.yaml
  helm/streamline/tests/grafana_dashboards_test.yaml
  helm/streamline/tests/new_templates_test.yaml
  helm/streamline/tests/security_test.yaml
  helm/streamline/tests/statefulset_test.yaml
  helm/streamline/tests/values/test-image.yaml
  helm/streamline/values-tls.yaml
  helm/streamline/values.schema.json
  helm/streamline/values.yaml
  k8s/README.md
  k8s/configmap.yaml
  k8s/keda/kustomization.yaml
  k8s/keda/scaledobject.yaml
  k8s/keda/triggerauthentication.yaml
  k8s/kustomization.yaml
  k8s/pod-disruption-budget.yaml
  k8s/statefulset.yaml
Due: helm-lint

chore(release): prepare v0.4.0
  CLAUDE.md
  Dockerfile
  SECURITY.md
  docker-compose.yml
  docker/README.md
  helm/streamline/Chart.yaml
Due: helm-lint, docker-compose-check

chore(release): pin core v0.4.0 source
  core-source.env
Due: none

fix(build): support full Linux image validation
  Dockerfile
  playground/Dockerfile
  tests/dockerfile-context_test.sh
  tests/publish-pipeline_test.sh
Due: docker-compose-check

chore(release): advance final core source pin
  core-source.env
Due: none

fix(test): validate image smoke responses strictly
  Dockerfile
  docker-compose.test.yml
  docker/smoke-test.sh
  tests/dockerfile-context_test.sh
  tests/http-smoke-json_test.sh
  tests/publish-pipeline_test.sh
Due: docker-compose-check

chore(release): pin benchmark-verified core source
  core-source.env
Due: none

chore(release): pin doctest-verified core source
  core-source.env
Due: none

chore(release): pin CI-stable core source
  core-source.env
Due: none

chore(release): pin Linux-verified core source
  core-source.env
Due: none

chore(release): pin offline-analytics core source
  core-source.env
Due: none

Path conditions:
  helm-lint: any of: (helm/|Chart\.yaml|values\.yaml)
  docker-compose-check: any of: (docker-compose|Dockerfile)
