Repository StreamLineLabs/streamline-deploy: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, docker-compose-check

helm-lint:
  name: helm lint
  entry: helm lint helm/streamline
  language: system
  pass_filenames: false

docker-compose-check:
  name: docker compose config
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

fix: correct volume mount paths in docker-compose
  CHANGELOG.md
Due: none

fix: adjust resource limits in production manifest
  CHANGELOG.md
Due: none

chore: update base image tag in Dockerfile
  CHANGELOG.md
Due: none

docs: add environment variable reference to compose file
  CHANGELOG.md
Due: none

fix: update kustomization resource references
  k8s/kustomization.yaml
Due: none

feat: add CDC demo and update monitoring docs
  cdc-demo/cdc-source.json
  cdc-demo/init.sql
  cdc-demo/seed.sql
  monitoring/README.md
Due: none

chore: update changelog and add CodeQL workflow
  .github/workflows/codeql.yml
  CHANGELOG.md
Due: none

chore: add gitattributes and dockerignore
  .dockerignore
  .gitattributes
Due: none

feat: add edge deployment configuration
  Dockerfile.edge
  demos/edge-pilot.sh
  docker-compose.edge.yml
  docker/edge/streamline-edge.toml
Due: docker-compose-check

ci: add CI templates for SDK workflows
  ci-templates/README.md
  ci-templates/github-actions-go.yml
  ci-templates/github-actions-java.yml
  ci-templates/github-actions-node.yml
  ci-templates/github-actions-python.yml
Due: none

feat: add Jepsen testing configuration
  docker-compose.jepsen.yml
  jepsen/run_jepsen.py
Due: docker-compose-check

docs: add CI template migration guide
  ci-templates/MIGRATION.md
  helm/README.md
  helm/streamline/values.yaml
Due: helm-lint

feat: add install script and monitoring dashboards
  Dockerfile
  docker-compose.cdc-demo.yml
  k8s/networkpolicy.yaml
  k8s/statefulset.yaml
  monitoring/docker-compose.monitoring.yml
  monitoring/grafana-cluster-dashboard.json
  scripts/install.sh
Due: docker-compose-check

feat: add Prometheus alerting rules for consumer lag
  CHANGELOG.md
  monitoring/prometheus/alerts.yml
Due: none

feat: add Grafana dashboard for topic metrics
  CHANGELOG.md
  monitoring/grafana/streamline-consumer-lag.json
  monitoring/grafana/streamline-topics.json
Due: none

chore: update monitoring configuration
  CHANGELOG.md
Due: none

docs: add monitoring setup instructions
  CHANGELOG.md
Due: none

feat: add horizontal pod autoscaler template
  docker-compose.yml
Due: docker-compose-check

chore: bump base image to latest Alpine
  Makefile
Due: none

ci: add helm chart linting step
  .github/workflows/ci.yml
Due: none

feat: add resource limits to helm values
  CHANGELOG.md
Due: none

chore: update base image to alpine 3.19
  CHANGELOG.md
Due: none

feat: add KEDA scaled object template for autoscaling
  docker/Dockerfile.release
  helm/streamline/templates/keda-scaledobject.yaml
  helm/streamline/values.yaml
  k8s/keda/kustomization.yaml
  k8s/keda/scaledobject.yaml
  k8s/keda/triggerauthentication.yaml
  playground/Dockerfile
  playground/fly.toml
Due: helm-lint, docker-compose-check

docs: add deployment guide
  README.md
Due: none

ci: add release automation
  .devcontainer/devcontainer.json
Due: none

feat: add resource limits configuration
  README.md
Due: none

chore: update dependabot configuration
  .github/dependabot.yml
Due: none

docs: stamp changelog for v0.2.0 release
  CHANGELOG.md
Due: none

refactor: consolidate Helm value defaults
  conformance/config/conformance.toml
  conformance/config/users.yaml
  conformance/setup.sh
  docker-compose.conformance.yml
  playground/README.md
  playground/docker-compose.playground.yml
  playground/k8s/playground-controller.yaml
  playground/sharing/README.md
  playground/tutorials/01-produce-consume.md
  playground/tutorials/02-consumer-groups.md
  playground/tutorials/03-cdc-postgres.md
  playground/tutorials/04-streamql.md
  playground/tutorials/05-schema-registry.md
Due: docker-compose-check

fix: correct ingress TLS configuration
  playground/docker-compose.playground.yml
Due: docker-compose-check

docs: add troubleshooting section
  ci-templates/github-actions-go.yml
Due: none

feat: add pod disruption budget
  helm/streamline/templates/servicemonitor.yaml
Due: helm-lint

feat: add prometheus service monitor
  k8s/keda/triggerauthentication.yaml
Due: none

style: normalize YAML indentation
  playground/tutorials/05-schema-registry.md
Due: none

Path conditions:
  helm-lint: any of: (helm/|Chart\.yaml|values\.yaml)
  docker-compose-check: any of: (docker-compose|Dockerfile)
